@charset "UTF-8";

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: 'Erika';
    src: url('../fonts/Erika/G2-Erika-Regular.woff2') format('woff2'),
         url('../fonts/Erika/G2-Erika-Regular.woff') format('woff'),
         url('../fonts/Erika/G2-Erika-Regular.eot') ,
         url('../fonts/Erika/G2-Erika-Regular.otf') format('embedded-opentype'),
         url('../fonts/Erika/G2-Erika-Regular.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Modor';
    src: url('../fonts/Modor/Modor-Regular.woff2') format('woff2'),
         url('../fonts/Modor/Modor-Regular.woff') format('woff'),
         url('../fonts/Modor/Modor-Regular.eot'),
         url('../fonts/Modor/Modor-Regular.otf') format('embedded-opentype'),
         url('../fonts/Modor/Modor-Regular.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'ModorSwash';
    src: url( '../fonts/Modor-Swash/Modor-Swash.otf' ) format( 'opentype' );
    font-weight: normal;
    font-style: normal;
    
}

/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgba(0, 0, 0, 1);
  --color-text: rgba(237, 237, 232, 1);
  --color-text-two: rgba(255, 50, 50, 1);   
  --color-text-link: rgba(255,255,255,1);
  --color-text-link-hover: rgba(0,255,0,1);
  /* Font settings */
  --font-family: 'Erika', 'Helvetica', 'Arial', sans-serif;
  --font-family-body-text: 'Modor','Helvetica', 'Arial', sans-serif;
  --font-family-initial-letter: 'ModorSwash', serif;
  --font-size: 18px;
  /* Margins settings */
  --margin: 2rem;
}

/*-------------------------------------------------------------------------*/


/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background); 
}

body {
    hyphens: auto; 
}

.nav {
    
    font: calc(var(--font-size)*4) var(--font-family-body-text);
    text-align: center;
    margin: 0 auto; 
    
}

a {
    color: var(--color-text-two);
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    /*border-bottom: 3px solid red;*/
}

.endnotes a {
    color: var(--color-text-two);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    
}

a:hover     {
    color: white;
    text-decoration-line: underline;
}

.endnotes a:hover {
    color: var(--color-text-two);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    
}

.video-cover {
    width: max(100%, 299px);
    max-width: 100%;
    height: auto; 
}

.wrapper-one {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-two {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-three {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-four {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-five {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-six {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.wrapper-seven {
  font: calc(var(--font-size)*1.4) var(--font-family-body-text);
  line-height: calc(var(--font-size)*1.6);
}

.header-image{
    top: 0;
    width: 100vw;
    height: auto;  
}


.header-image-phone{
    display: none;
    top: 0;
    width: 100vw;
    height: auto;  
}

.chapter-image{
    top: 0;
    width: 100vw;
    height: auto;  
}


.chapter-image-phone{
    display: none;
    top: 0;
    width: 100vw;
    height: auto;  
}

.black-box{
    height: 50vh;
    background-color: black;
}
    
.chapter-container{
    
    padding-top: calc((var(--margin))*1);
    height: calc((100vh)*1);
    text-align: center;
    
    
}

h2.chapter-name{
    top: var(--margin);
    font: calc(var(--font-size)*4) var(--font-family-body-text);
    color: var(--color-text);
    text-decoration: underline;
    text-align: center;

}
/*.text-box {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 calc((var(--margin))*2);
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
}
.text-box > div {
	
    width: max(40%, 700px);
    max-width: 100%;
    display: inline-block;
}*/

.text-box {
    width: 830px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 calc((var(--margin))*2);
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    color: var(--color-text-two);
}

.initial-letter{
    font: calc(var(--font-size)*5) var(--font-family-initial-letter);
    color: var(font-text-two);
    padding: 0px;
    margin-right: -58px;
    margin-bottom: 68px;
    line-height: 0rem; 
}

sup{
    line-height: 0rem; 
}

.special-sup{
    font: calc(var(--font-size)*1) var(--font-family-body-text);
    padding-right: calc(var(--margin)*0.4);
    line-height: 0rem; 
}

.endnotes{
    font: calc(var(--font-size)*1) var(--font-family);
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 calc((var(--margin))*2);
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
}

.endnotes a{
    color: white;
}



.chapter-container-endnotes{
    padding-top: calc((var(--margin))*1);
    text-align: center;  
}



/*-------------------------------------------------------------------------*/

/*FOOTNOTES*/


.footnotes-box {
    width: 830px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--margin)*2);
    font: calc(var(--font-size)*1) var(--font-family);
    color: var(--color-text);
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    display: none;
    line-height: calc(var(--font-size)*1.2);
}

.footnotes-box.visible {
	display: block;
}



/*-------------------------------------------------------------------------*/

.image-box{
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.images{
    width: max(25%, 299px);
    max-width: 100%;
    height: auto;  
}


/*-------------------------------------------------------------------------*/

/* The flip box container */

.coin {
    width: 70px;
    height: auto;
}
.flip-box {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}


/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box.active .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
    transform: rotateY(180deg);
}

/* ----------------- */
.flip-box-2 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-2-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-2.active .flip-box-2-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-2-front, .flip-box-2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-2-back {
    transform: rotateY(180deg);
}

/* ----------------- */

.flip-box-3 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-3-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-3.active .flip-box-3-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-3-front, .flip-box-3-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-3-back {
    transform: rotateY(180deg);
}

/* ----------------- */
.flip-box-4 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-4-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-4.active .flip-box-4-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-4-front, .flip-box-4-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-4-back {
    transform: rotateY(180deg);
}

/* ----------------- */
.flip-box-5 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-5-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-5.active .flip-box-5-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-5-front, .flip-box-5-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-5-back {
    transform: rotateY(180deg);
}

/* ----------------- */

.flip-box-6 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-6-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-6.active .flip-box-6-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-6-front, .flip-box-6-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-box-6-back {
    transform: rotateY(180deg);
}

/* ----------------- */


/*-------------------------------------------------------------------------*/


/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}


/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* MEDIA QUERIES */

/* responsive typeface */

/*@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}*/

/* website media queries */


@media screen and (max-width: 899px) {
    
    /* utilities */
  .desktop{display:none!important;}
  .mobile{display:block;}
  
  .header-image { display: none }
  .header-image-phone { display: block }
    
  .chapter-image { display: none }
  .chapter-image-phone { display: block }
    
    .nav a:after {
		width: 100%;
		height: 0;
		margin-top: -0.625em;
		content: '';
	    display: block;
    }
    .nav,
    h2.chapter-name { font-size: max(36px, 100vw * 72 / 899) }
    
    .text-box, .footnotes-box {
        padding: calc(100 * 90% / 899) calc(100 * 90% / 899) 0 calc(100 * 90% / 899); 
    }
    
}
    
@media screen and (max-width: 399px) {
    
    .header-image {
        display: none; 
    }
    
    .chapter-image {
        display: none; 
    }
    
    .footnotes-box {
        font-family: var(--font-family);
    }
    
    
    
}


