@charset "UTF-8";


:root {
  --color-background: black;
  --color-text: rgba(255, 50, 50, 1);
  --color-text-two: rgba(237, 237, 232, 1)  ;
  --color-text-link: rgba(237, 237, 232, 1);
  
  --font-family-footnotes: 'G2-Erika';
  --font-family-body-text: 'Modor';
  --font-size: 18px;
  /* Margins settings */
  --margin: 2rem;
}


html {
  font: var(--font-size) var(--font-family-body-text);
  color: var(--color-text);
  background-color: var(--color-background);
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

body {
   margin: 0;    
}

.header-image, .chapter-image {
    display: block;
    width: max(100%, 299px);
    max-width: 100%;
    height: auto; 
}

.header-image-phone, .chapter-image-phone {
    display: none;
    width: max(100%, 299px);
    max-width: 100%;
    height: auto; 
}

.nav {
    font-size: calc(var(--font-size)*4);
    text-align: center; 
    padding-top: 1em;
}

a {
    color: var(--color-text);
    text-decoration: none;
    text-decoration-thickness: 5px;
}

a:hover {
    color: var(--color-text-two);
    text-decoration-line: none;
}

.black-box{
    height: 40vh;
    background-color: black;
}

.chapter-container{
    height: 100%;   
}

.text-box {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 var(--margin);
    box-sizing: border-box;
    font-size: calc(var(--font-size)*1.6);
    line-height: calc(var(--font-size)*1.8);
}

.footnotes-box{
    font-family: var(--font-family-footnotes);
    color: var(--color-text-two);
    width: 850px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 calc(var(--margin)*1);
    box-sizing: border-box;
    font-size: calc(var(--font-size)*1);
    line-height: calc(var(--font-size)*1.4);
    display: none;   
}

.footnotes-box.visible {
	display: block;
}

sup{
    line-height: 0rem; 
}

.image-box{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.images{
    width: max(25%, 375px);
    max-width: 100%;
    height: auto; 
    float: left;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.images:after {
    clear: both;
}

.images-ve{
    width: max(25%, 375px);
    max-width: 50%;
    height: auto; 
    position: relative;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}



.endnotes{
    font-family: var(--font-family-footnotes);
    color: var(--color-text);
    width: 850px;
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 calc(var(--margin)*1);
    box-sizing: border-box;
    font-size: calc(var(--font-size)*1);
    line-height: calc(var(--font-size)*1.4);
}

.b a{
    text-decoration: underline;
    text-decoration-thickness: 1.5px; 
    
}

.special {
    text-decoration: underline;
    text-decoration-thickness: 1.5px; 
}


.bottom-bar{
    text-align: center;
    font-family: 'G2-Erika';
}

.image-footer{
    width: max(10%, 299px);
    max-width: 100%;
    height: auto;  
}

/*--------FLIP---BOX-------------*/

.coin {
    width: 70px;
    height: 70px;
}

.flip-box, .flip-box-2, .flip-box-3, .flip-box-4, .flip-box-5, .flip-box-6 {
    margin: 10px 0 0 0;
    position: relative;
    left: -10px;
    width: 70px;
    height: 70px;
    perspective: 1000px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.flip-box-inner, .flip-box-2-inner, .flip-box-3-inner, .flip-box-4-inner, .flip-box-5-inner, .flip-box-6-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    pointer-events: none;
}

.flip-box.active .flip-box-inner, .flip-box-2.active .flip-box-2-inner, .flip-box-3.active .flip-box-3-inner, .flip-box-4.active .flip-box-4-inner, .flip-box-5.active .flip-box-5-inner, .flip-box-6.active .flip-box-6-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back, .flip-box-2-front, .flip-box-2-back, .flip-box-3-front, .flip-box-3-back, .flip-box-4-front, .flip-box-4-back, .flip-box-5-front, .flip-box-5-back, .flip-box-6-front, .flip-box-6-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-box-back, .flip-box-2-back, .flip-box-3-back, .flip-box-4-back, .flip-box-5-back, .flip-box-6-back {
    transform: rotateY(180deg);
}
/*----------------------------------*/




/* ----------MEDIA-----QUERIES-------------- */
@media screen and (max-width: 899px) {
  
  .header-image { display: none }
  .header-image-phone { display: block }
  .chapter-image { display: none }
  .chapter-image-phone { display: block }
  .text-box {padding: 0 calc(var(--font-size)*1)}
  .footnotes-box, .endnotes {
      padding: 0 calc(var(--font-size)*1); 
      font-size: calc(var(--font- size)*0.95); 
      line-height: calc(var(--font-size)*1.4); 
    }
  .nav { font-size: max(30px, 100vw * 72 / 899); padding-top: 1em; text-decoration: underline; text-underline-thickness: 1.5; }
  .nav a:after {
		width: 100%;
		height: 0;
		margin-top: -0.7em;
		content: '';
	    display: block;
    }
   
    
}
    
@media screen and (max-width: 399px) {
    
    .text-box {
        width: 850px;
        max-width: 100%;
        margin: 0 auto;  
        padding: 0 calc(var(--font-size)*1);
        box-sizing: border-box;
        font-size: calc(var(--font-size)*1.4);
        line-height: calc(var(--font-size)*1.6);
    }
    
    .footnotes-box, .endnotes {
        width: 850px;
        max-width: 100%;
        margin: 0 auto;  
        padding: 0 calc(var(--font-size)*1);
        box-sizing: border-box;
        font-size: calc(var(--font-size)*0.95);
        line-height: calc(var(--font-size)*1.4);
    }
        
    
}
